<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="name" ngModel required minlength="3" #name="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" name="email" ngModel required #email="ngModel"></textarea>
      <mat-error *ngIf="email.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
    	<textarea matInput rows="4" name="message" ngModel required #message="ngModel"></textarea>
      <mat-error *ngIf="message.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </form>
</mat-card>