<div class="container-fluid text-center">
  <h2>TrainingDiary</h2>
  <h4>What we're about!</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-ok"></span>
      <h4>HEALTH</h4>
      <p>We strive for you to looks and feel your best</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-ok"></span>
      <h4>MOTIVATION</h4>
      <p>We want you to look back at all the hard work you've done</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-ok"></span>
      <h4>OPEN SOURCE</h4>
      <p>This is completely free and open source!</p>
    </div>
    <br>
    <br>

 <!--images section -->
 <div class="row">
    <div class="col-xs-12">
        <img [src]="fullImagePathBarbell" height="500" width="420">
    </div>
</div>


