<mat-toolbar color="primary">
<mat-toolbar-row>
<span>Training Diary</span>
    <span class="example-fill-remaining-space"></span>
    <span class="align-center"></span>
    <span class="example-spacer"></span>
    <button mat-button [routerLink]="['/about']">About</button>
    <button mat-button [routerLink]="['/contact']">Contact</button>
    <button mat-button [routerLink]="['/main']">Mainpage</button>
    <button mat-button [routerLink]="['/log']">Log</button>
    <button mat-button [routerLink]="['/feedback']">Feedback</button>
</mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>                                                                                