<h3>How this works!</h3>
<mat-card-content>Although it may seem lazy to just include a simple text area instead of more bells and whistles, I feel this is the best way to go. Many athletes want something that will record their training without having to go through loads of form fields. Essentially they just want to type it in and save it</mat-card-content>
<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required minlength="3" #title="ngModel">
      <mat-error *ngIf="title.invalid">Give your session a title.</mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field>
      <textarea matInput rows="4" name="content" ngModel required #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Enter in the details of your session</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" style="float:right">Save Post</button>
  </form>
</mat-card>
